registry=https://registry.npm.taobao.org/
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
//要发布包的话还是应该配置成官方镜像地址=true
//registry=https://registry.npmjs.org/
//registry=https://registry.npm.taobao.org/
//proxy=http://127.0.0.1:1080
//https-proxy=http://127.0.0.1:1080
//strict-ssl=false
//registry.npmjs.org/:_authToken=e4635efb-df42-49b5-af59-053cd1024728
