registry=https://registry.npmmirror.com/
sass_binary_site=https://registry.npmmirror.com/mirrors/node-sass/
electron_mirror=https://registry.npmmirror.com/mirrors/electron/
phantomjs_cdnurl=https://registry.npmmirror.com/mirrors/phantomjs/


//registry.npm.taobao.org/:_password="bGVpaml1bGluZzY5MA=="
//registry.npm.taobao.org/:username=ice_ice20
//要发布包的话还是应该配置成官方镜像地址=true
//proxy=http://127.0.0.1:1080
//https-proxy=http://127.0.0.1:1080
//strict-ssl=false
//registry.npmjs.org/:_authToken=e4635efb-df42-49b5-af59-053cd1024728
email=414612218@qq.com
